
Theory/Assignment/Assignment02/.gradle/6.5/executionHistory/executionHistory.bin
Theory/Assignment/Assignment02/.gradle/6.5/executionHistory/executionHistory.bin
Theory/Assignment/Assignment02/.gradle/6.5/executionHistory/executionHistory.bin
*.bin
