<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.sadia.Project03">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project01">


        <activity android:name="com.android.sadia.Project03.UniCluBz">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.sadia.Project03.MainActivity"
            android:label="Main Activity">
        </activity>

        <activity
            android:name="com.android.sadia.Project03.UniversityAffiliation"
            android:label="University Affiliation"
            android:parentActivityName="com.android.sadia.Project03.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.sadia.Project03.MainActivity" />
        </activity>
        <activity
            android:name="com.android.sadia.Project03.StudentInformation"
            android:label="Student Information"
            android:parentActivityName="com.android.sadia.Project03.UniversityAffiliation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.sadia.Project03.MainActivity" />
        </activity>
        <activity
            android:name="com.android.sadia.Project03.SecondActivity"
            android:label="Second Activity"
            android:parentActivityName="com.android.sadia.Project03.StudentInformation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.sadia.Project03.MainActivity" />
        </activity>
        <activity
            android:name="com.android.sadia.Project03.FinalActivity"
            android:label="Final Activity"
            android:parentActivityName="com.android.sadia.Project03.SecondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.sadia.Project03.MainActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>